    <div class="col" id="p5">
      <img src="images/{{data.users.4.avatar}}" alt="">
      <p class="name">{{data.users.4.name}}</p>
      <p class="valueText">{{data.users.4.valueText}}</p>
      <div class="position_number">
        <p class="position_number">5</p>
      </div>
    </div>
    <div class="col" id="p3">
      <img src="images/{{data.users.2.avatar}}" alt="">
      <p class="name">{{data.users.2.name}}</p>
      <p class="valueText">{{data.users.2.valueText}}</p>
      <div class="position_number">
        <p class="position_number">3</p>
      </div>
    </div>
    <div class="col" id="p1">
      <div id="emoji_leaders">{{data.emoji}}</div>
      <img src="images/{{data.users.0.avatar}}" alt="">
      <p class="name">{{data.users.0.name}}</p>
      <p class="valueText">{{data.users.0.valueText}}</p>
      <div class="position_number">
        <p class="position_number">1</p>
        <div id="chosen_leader">
        </div>
      </div>
    </div>
    <div class="col" id="p2">
      <img src="images/{{data.users.1.avatar}}" alt="">
      <p class="name">{{data.users.1.name}}</p>
      <p class="valueText">{{data.users.1.valueText}}</p>
      <div class="position_number">
        <p class="position_number">2</p>
      </div>
    </div>
    <div class="col" id="p4">
      <img src="images/{{data.users.3.avatar}}" alt="">
      <p class="name">{{data.users.3.name}}</p>
      <p class="valueText">{{data.users.3.valueText}}</p>
      <div class="position_number">
        <p class="position_number">4</p>
      </div>
    </div>
  </div>
</div>