    <div class="row" id="chart_stats">
      <div class="col hidden">
        <p class="p_commits">
          {{#if data.values.4.value}}
            {{data.values.4.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.4.title}}</p>
      </div>
      <div class="col hidden">
        <p class="p_commits">
          {{#if data.values.5.value}}
            {{data.values.5.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.5.title}}</p>
      </div>
      <div class="col hidden">
        <p class="p_commits">
          {{#if data.values.6.value}}
            {{data.values.6.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.6.title}}</p>
      </div>

      <div class="col">
        <p class="p_commits">
          {{#if data.values.7.value}}
            {{data.values.7.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.7.title}}</p>
      </div>
      <div class="col">
        <p class="p_commits">
          {{#if data.values.8.value}}
            {{data.values.8.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.8.title}}</p>
      </div>
      <div class="col">
        <p class="p_commits">
          {{#if data.values.9.value}}
            {{data.values.9.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.9.title}}</p>
      </div>
      <div class="col">
        <p class="p_commits active">
          {{#if data.values.10.value}}
            {{data.values.10.value}}
          {{/if}}
        </p>
        <p class="p_col active"></p>
        <p class="p_day">{{data.values.10.title}}</p>
      </div>
      <div class="col">
        <p class="p_commits">
          {{#if data.values.11.value}}
            {{data.values.11.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.11.title}}</p>
      </div>
      <div class="col">
        <p class="p_commits">
          {{#if data.values.12.value}}
            {{data.values.12.value}}
          {{/if}}
        </p>
        <p class="p_col"></p>
        <p class="p_day">{{data.values.12.title}}</p>
      </div>
    </div>
    <div class="row" id="chart_leaders">
      <div class="row">
        <div class="col">
          <img src="images/{{data.users.0.avatar}}">
        </div>
        <div class="col">
          <p class="name">{{data.users.0.name}}</p>
          <p class="valueText">{{data.users.0.valueText}}</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="row">
        <div class="col">
          <img src="images/{{data.users.1.avatar}}">
        </div>
        <div class="col">
          <p class="name">{{data.users.1.name}}</p>
          <p class="valueText">{{data.users.1.valueText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>